* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-padrao: #14e0ad;
    --cor-padrao-hover: #3f65ce;
    --cor-fonte: white;
    --cor-fonte-p: #555;
    --cor-btn: rgb(129, 11, 165);
    --cor-btn-hover: rgb(51, 3, 128);
    --cor-btn-fonte: black;
    --cor-fonte-corpo: #555;
    --cor-fonte-corpo-leve: #f8f4f6;
}

body {
    font-family: 'Roboto', sans-serif;
}

.banner {
    background: radial-gradient(var(--cor-padrao-hover), var(--cor-padrao));
}

.banner .linha {
    margin-top: 15px;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.navbar {
    display: flex;
    align-items: center;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;

}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: var(--cor-btn-fonte);

}

.banner p {
    color: var(--cor-btn-fonte);
}

p {
    color: var(--cor-fonte-p);

}

.linha {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.quadro {
    color: rgb(0, 0, 0);
}

.painel {
    color: rgb(255, 255, 255);
}

.col-2 {
    flex-basis: 50%;
    min-height: 300px;
}

.col-2 img {
    max-width: 100%;
    padding: 2% 0;
}

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.col-2 p {
    font-weight: 600;
    color: var(--cor-btn-fonte);
}

.btn {
    cursor: pointer;
    text-decoration: none;
    color: var(--cor-fonte-corpo-leve);
    background: var(--cor-btn);
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn:hover {
    cursor: pointer;
    background: var(--cor-btn-hover);
    color: var(--cor-fonte-corpo-leve);
}

.categorias {
    margin: 70px 0;

}

.corpo-categorias {
    max-width: 1200px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-3 {
    flex-basis: 30%;
    max-width: 250px;
    margin-bottom: 30px;
}

.col-3 img {
    padding: 10px 10px 10px 10px;
    width: 250px;
    object-position: center;
    object-fit: cover;
}

.col-4 {
    flex-basis: 25%;
    max-width: 200px;
    padding: 20px;
    margin: 50px;
    transition: transform 0.5s;
}

.col-4:hover {
    transform: scale(1.1);

}

.col-4 img {
    width: 100%;
    object-position: center;
    object-fit: cover;
}

.titulo {
    position: relative;
    line-height: 60px;
    margin: auto;
    text-align: center;
    color: var(--cor-btn-fonte);

}

.titulo::after {
    content: '';
    background-color: var(--cor-padrao);
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}

h4 {
    font-weight: normal;
}

.col-4 p {
    font-size: 14px;
}

.classificacao ion-icon {
    color: var(--cor-padrao);
}

.ofertas {
    background: radial-gradient(var(--cor-padrao-hover), var(--cor-padrao));
    margin-top: 80px;
    padding: 30px 0;
}

.small {
    color: var(--cor-btn-fonte);

}

.depoimentos {
    padding-top: 100px;
}

.depoimentos .col-3 {
    text-align: center;
    padding: 30px 20px 20px 20px;
    box-shadow: 0 10px 20px 0 rgb(0, 0, 0, 0.3);
    cursor: pointer;
    transition: transform 0.5s;
}

.depoimentos .col-3:hover {
    transform: scale(1.1);
}

.depoimentos .col-3 img {
    width: 150px;

    margin-top: 20px;
    border: 3px solid var(--cor-padrao);
}

.depoimento-icone {
    font-size: 30px;
    color: var(--cor-padrao);
}

.col-3 p {
    font-size: 13px;
    color: var(--cor-btn-fonte);
    margin: 12px 0;
}

.depoimentos.col-3 h3 {
    font-size: 16px;
    font-weight: 400;
    color: var(--cor-padrao-hover);
}

.marcas {
    margin: 50px;
}

.col-5 {
    margin-top: 30px;
    width: 120px;
}

.col-5 img {
    cursor: pointer;
    filter: grayscale(100%);
}

.col-5 img:hover {
    filter: grayscale(0%);
}

.marcas img {
    width: 130px;
}

.rodape {
    background: radial-gradient(var(--cor-padrao-hover), var(--cor-padrao));
    color: var(--cor-btn-fonte);
    padding: 20px 0;
    font-size: 14px;
}

.rodape p {
    color: var(--cor-btn-fonte);
    margin-bottom: 20px;
}

.rodape h3 {
    color: var(--cor-btn-fonte);
    margin-top: 20px;
}

.rodape-col-1,
.rodape-3,
.rodape-4 {
    min-width: 120px;
    margin-bottom: 20px;

}

.rodape-col-1 {
    flex-basis: 20%;
}

.rodape-col-2 {
    flex: 1;
    text-align: center;
}

.rodape-col-2 img {
    padding-top: 15px;
    width: 150px;
    margin-bottom: 20px;
}

.rodape-col-3,
.rodape-col-4 {
    flex-basis: 12%;
    text-align: right;
}

ul {
    list-style-type: none;
}

.rodape-col-1 img {
    width: 180px;
    text-align: right;
}

.app-logo {
    width: 900px;
}

.logo img {
    width: 120px;
    padding-top: 60px;
}

.rodape hr {
    border: none;
    height: 1px;
    background-color: black;
    margin: 20px 0;
}

.direitos {
    text-align: center;

}

.menu-cell {
    width: 28px;
    margin-left: 20px;
    display: none;
}

.novoMenu nav ul li a {
    color: var(--cor-btn-fonte);
}

.novoMenu {
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1);
}

.linha2 {
    margin-bottom: 160px;
    margin: 100px auto 50px;
    justify-content: space-between;

}

.linha select {
    padding: 5px;
    border: 1px solid var(--cor-padrao-hover);
}

.linha select:focus {
    outline: none;
}

.paginacao {
    margin: 0 auto 80px;
}

.paginacao span {
    width: 40px;
    height: 40px;
    display: inline-block;
    border: 5px solid var(--cor-padrao);
    text-align: center;
    line-height: 40px;
    margin-left: 10px;
    cursor: pointer;
}

.paginacao span:hover {
    background-color: var(--cor-padrao);
    color: var(--cor-fonte);
}

.ver-produto {
    margin-top: 40px;
}

.ver-produto .col-2 img {
    width: 100%;
    padding: 0;
}

.ver-produto #produtoImg {
    width: 600px;
    height: 450px;
    object-fit: cover;
    object-position: top;
}

.ver-produto.col-2 {
    padding: 20px;
}

.ver-produto h4 {
    padding: 20px 20px 20px 20px;
    margin: 20px 0;
    font-weight: bold;

}

.ver-produto select {
    display: block;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid var(--cor-padrao);
    cursor: pointer;

}

.ver-produto select:focus {
    outline: none;
    cursor: pointer;
}

.col-2 input {
    cursor: pointer;
    width: 100%;
    max-width: 124px;
    box-sizing: border-box;
    display: block;
    padding: 3px;
    margin-top: 5px;
    border: 1px solid var(--cor-padrao-hover);
    outline: none;
    font-size: 20px;
}

.ver-produto p {
    font-size: 13px;
}

img.linha {
    display: flex;
    justify-content: space-between;
}

.img .rodape-col {
    flex-basis: 24%;
    cursor: pointer;

}

.produtoMiniatura {
    padding: 0px 40px;
    max-width: 200px;
    width: 200px;
    height: 200px;
}

.info-carrinho img {
    text-align: center;
    align-items: center;
    width: 250px;

}

.carrinho-compras {
    margin: 80px auto;

}

table {
    text-align: center;
    align-items: center;
    width: 100%;
    border-collapse: collapse;
}

.info-carrinho {
    text-align: center;
    align-items: center;
    padding-top: 50px;
    display: flex;
    flex-direction: column;

}

th {
    height: 30px;
    background: radial-gradient(var(--cor-padrao-hover), var(--cor-padrao));
    color: var(--cor-fonte);
    text-align: left;
    font-weight: normal;
    padding-top: 5px;
}

td {
    padding: 10px 5px 10px;
}

td input {
    font-size: bold;
    width: 100px;
    height: 50px;
    padding: 5px;
}

td a {
    color: var(--cor-btn-fonte);
    font-size: 19px;
}

td img {
    width: 80px;
    height: 200px;
}

.valor-total {
    display: flex;
    justify-content: flex-end;
}

.valor-total table {
    border-top: var(--cor-padrao-hover);
    width: 100%;
    max-width: 445px;

}

.info-carrinho p {
    display: none;
}

.minha-conta img {
    width: 300px;
}

.minha-conta {
    padding: 50px 0;
    background: radial-gradient(rgb(58, 59, 59), rgb(110, 31, 141));
}
.novoMenu{
     background: radial-gradient(var(--cor-padrao-hover), var(--cor-padrao));
}
.formulario{
    padding: 20px 20px;
    position: relative;
    text-align: center;
    width: 300px;
    height: 400px;
    margin: auto;
    background-color: var(--cor-fonte);
    box-shadow: 20px 0 20px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 1s;

}
.formulario span{
    display: inline-block;
    width: 100px;
    padding: 10px 10px ;
    font-weight: bold;
    cursor: pointer;
}
.btn-form{
    display: inline-block;

}
.formulario form{
    position: absolute;
    top: 110px;
    max-width: 500px;
    padding: 0 20px;
    transition: trasnform 1s;


}
.formulario form input{
    width: 450px;
    height: 40px;
    margin: 10px 0;
    padding: 10px 10px;
    border: 1px solid var(--cor-padrao);
    border-radius: 3px;
}
.formulario form input:focus{
    outline: none;


}
.formulario form .btn{
    width: 100%;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    background-color: var(--cor-padrao);
    cursor: pointer;

}
.formulario form .btn:hover{
    background-color: var(--cor-padrao-hover);
}
.formulario form a{
    font-size: 12px;
    text-decoration: none;
    color: var(--cor-btn-fonte);
    cursor: pointer;
}
#EntrarPainel{
    left: -300px;

}
#cadastroSite{
    left: 0;
}
#Indicador{
    width: 100px;
    height: 3px;
    border: none;
    background-color: var(--cor-padrao);
    margin-top: 8px;
    transform: translateX(100px);
    transition: 1s;
}









@media only screen and (max-width: 800px) {
    nav ul {
        position: absolute;
        top: 70px;
        left: 0;
        background: radial-gradient(var(--cor-padrao-hover), var(--cor-btn-fonte));
        width: 100%;
        overflow: hidden;
        transition: max-heigth 0.5s;
    }

    nav ul li {
        display: block;
        margin-top: 10px;
        margin-right: 50px;
        color: var(--cor-fonte);

    }

    .menu-cell {
        display: block;
        cursor: pointer;
    }

    .novoMenu nav ul li a {
        color: var(--cor-fonte);

    }
}

@media only screen and (max-width:600px) {
    .linha {
        text-align: center;
    }

    .col-2,
    .col-3,
    .col-4 {
        flex-basis: 100%;
    }

    .col-2 {
        font-size: 27px;
    }

    rodape-col-3,
    .rodape-col-4 {
        flex-basis: 12%;
        text-align: center;
    }

    .col-4 {
        font-size: 24px;
    }

    .novoMenu nav ul li a {
        color: var(--cor-fonte);
    }

    .ver-produto .col-2 {
        margin: 20px 0;
    }

    .ver-produto .linha {
        text-align: left;
    }

}